<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EngineIoClientDotNet" version="1.0.2-beta1" targetFramework="net452" />
  <package id="NAudio" version="1.9.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="SocketIoClientDotNet" version="1.0.2-beta1" targetFramework="net452" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.6.0-preview5.19224.8" targetFramework="net452" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net452" />
</packages>